@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

body{
   
    font-family: 'Poppins', sans-serif;
    margin:0 auto;
}

.main_cot{
    height: auto;
    margin: 0 auto;
    max-width: 1200px;
    background-color:#fff;
    display: block;
    padding-left: 20px;
    padding-right: 20px;

}
.l{
    position: relative;
}

.header_cot{
    display: flex;
   margin: 0 auto;
   margin-top: 30px;
}

.content{
    height: auto;
    width: 99%;
    max-width: 99%;
    margin: 0 auto;
    display: flex;
   
}

.image{
    position: relative;
    height:60vh ;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    width:50%;
    margin:  0 auto;
    justify-content: center;
    /* align-items: center; */
    padding: 20px;
}
.user_image{
    position: relative;
    left:20px;
    height: 100%;
   max-width: 100%;
    object-fit: cover;
}
.user_image img{
    position: relative;
    height: 100%;
   max-width: 100%;
    object-fit: cover;
}
.header_content{
    max-width: 50%;
    width:50%;
    background-color: rgb(255, 255, 255);
    padding-left: 50px;
    flex:0 0 50%
}

.header_content{
    text-align: center;
}
h1{
    font-size: 3em;
    letter-spacing: 2px;
}

@media only screen and (max-width:800px) {
    .header_cot{
       display: flex;
       margin: 0 auto;
       margin-top: 30px;
       flex-wrap: wrap;
       justify-content: center;
    }
}